@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.admin-db,
.admin-db * {
  box-sizing: border-box;
}
.admin-db {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.admin-dashboard {
  background: #f4f9fa;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.container5 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 0px 0px 1.25px 0px;
  padding: 23.98px 892.75px 1.25px 31.99px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 106.82px;
  position: relative;
}
.heading-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 57.6px;
  position: relative;
}
.dashboard2 {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 1.2px;
  font-weight: 700;
  position: relative;
}
.container6 {
  padding: 31.99px 31.99px 0px 31.99px;
  display: flex;
  flex-direction: column;
  gap: 31.99px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 966.95px;
  position: relative;
}
.container7 {
  align-self: stretch;
  flex-shrink: 0;
  height: 107.13px;
  position: relative;
}
.container8 {
  background: linear-gradient(
    180deg,
    rgba(47, 122, 133, 1) 0%,
    rgba(95, 177, 183, 1) 100%
  );
  border-radius: 16px;
  padding: 23.98px 23.98px 0px 23.98px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 359.84px;
  height: 107.13px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.container9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 59.16px;
  position: relative;
}
.container10 {
  display: flex;
  flex-direction: column;
  gap: 7.99px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 108.85px;
  height: 59.16px;
  position: relative;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  height: 25.59px;
  position: relative;
}
.total-products {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
._247 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.container11 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 11.99px 11.99px 0px 11.99px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 47.97px;
  height: 47.97px;
  position: relative;
}
.icon8 {
  align-self: stretch;
  flex-shrink: 0;
  height: 23.98px;
  position: relative;
  overflow: visible;
}
.container12 {
  background: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgba(254, 154, 0, 1) 100%
  );
  border-radius: 16px;
  padding: 23.98px 23.98px 0px 23.98px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 359.84px;
  height: 107.13px;
  position: absolute;
  left: 383.83px;
  top: 0px;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 7.99px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 131.07px;
  height: 59.16px;
  position: relative;
}
.pending-inquiries {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
._12 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.icon9 {
  align-self: stretch;
  flex-shrink: 0;
  height: 23.98px;
  position: relative;
  overflow: visible;
}
.container14 {
  background: linear-gradient(
    135deg,
    rgba(0, 201, 80, 1) 0%,
    rgba(0, 188, 125, 1) 100%
  );
  border-radius: 16px;
  padding: 23.98px 23.98px 0px 23.98px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 359.86px;
  height: 107.13px;
  position: absolute;
  left: 767.66px;
  top: 0px;
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 7.99px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 133.22px;
  height: 59.16px;
  position: relative;
}
.completed-today {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
._8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.icon10 {
  align-self: stretch;
  flex-shrink: 0;
  height: 23.98px;
  position: relative;
  overflow: visible;
}
.container16 {
  align-self: stretch;
  flex-shrink: 0;
  height: 347.99px;
  position: relative;
}
.container17 {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 1.25px;
  padding: 25.23px 25.23px 1.25px 25.23px;
  display: flex;
  flex-direction: column;
  gap: 23.98px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 551.76px;
  height: 347.99px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.heading-2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 41.58px;
  position: relative;
}
.recent-activity {
  color: #235c63;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: 0.8px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0.25px;
}
.container18 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 231.95px;
  position: relative;
}
.container19 {
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.2);
  border-width: 0px 0px 1.25px 0px;
  padding: 0px 0px 1.25px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 72.4px;
  position: relative;
}
.container20 {
  background: #5fb1b7;
  border-radius: 41943000px;
  width: 7.99px;
  height: 7.99px;
  position: absolute;
  left: 0px;
  top: 7.99px;
}
.container21 {
  display: flex;
  flex-direction: column;
  gap: 3.98px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 372.13px;
  height: 55.16px;
  position: absolute;
  left: 23.98px;
  top: 0px;
}
.new-product-added {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.digital-thermometer-x-200 {
  color: #475569;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.text12 {
  width: 89.18px;
  height: 23.98px;
  position: absolute;
  left: 412.11px;
  top: 0px;
}
._15-mins-ago {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container22 {
  display: flex;
  flex-direction: column;
  gap: 3.98px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 382.87px;
  height: 55.16px;
  position: absolute;
  left: 23.98px;
  top: 0px;
}
.invoice-paid {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.invoice-inv-2024-0487 {
  color: #475569;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.text13 {
  width: 78.44px;
  height: 23.98px;
  position: absolute;
  left: 422.85px;
  top: 0px;
}
._1-hour-ago {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container23 {
  align-self: stretch;
  flex-shrink: 0;
  height: 55.16px;
  position: relative;
}
.container24 {
  display: flex;
  flex-direction: column;
  gap: 3.98px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 371.04px;
  height: 55.16px;
  position: absolute;
  left: 23.98px;
  top: 0px;
}
.customer-registered {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.st-mary-s-medical-center {
  color: #475569;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.text14 {
  width: 90.27px;
  height: 23.98px;
  position: absolute;
  left: 411.02px;
  top: 0px;
}
._3-hours-ago {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container25 {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 1.25px;
  padding: 25.23px 25.23px 1.25px 25.23px;
  display: flex;
  flex-direction: column;
  gap: 23.98px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 551.78px;
  height: 347.99px;
  position: absolute;
  left: 575.74px;
  top: 0px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.heading-22 {
  align-self: stretch;
  flex-shrink: 0;
  height: 23.98px;
  position: relative;
}
.quick-stats {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container26 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 501.31px;
  height: 199.92px;
  position: relative;
}
.container27 {
  background: #f4f9fa;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 55.98px;
  position: relative;
}
.container28 {
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 156.7px;
  height: 23.98px;
  position: relative;
}
.icon11 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text15 {
  flex: 1;
  height: 23.98px;
  position: relative;
}
.low-stock-items {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.text16 {
  flex-shrink: 0;
  width: 9.98px;
  height: 23.98px;
  position: relative;
}
._2 {
  color: #f54900;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container29 {
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 163.67px;
  height: 23.98px;
  position: relative;
}
.icon12 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.overdue-invoices {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.text17 {
  flex-shrink: 0;
  width: 6.78px;
  height: 23.98px;
  position: relative;
}
._1 {
  color: #e7000b;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container30 {
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 137.93px;
  height: 23.98px;
  position: relative;
}
.icon13 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.active-quotes {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.text18 {
  flex-shrink: 0;
  width: 9.22px;
  height: 23.98px;
  position: relative;
}
._7 {
  color: #2f7a85;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container31 {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 1.25px;
  padding: 25.23px 25.23px 1.25px 25.23px;
  display: flex;
  flex-direction: column;
  gap: 23.98px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 383.87px;
  position: relative;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.container32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 23.98px;
  position: relative;
}
.heading-23 {
  flex-shrink: 0;
  width: 173.32px;
  height: 23.98px;
  position: relative;
}
.upcoming-follow-ups {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.button4 {
  flex-shrink: 0;
  width: 53.77px;
  height: 20px;
  position: relative;
}
.view-all {
  color: #2f7a85;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 0.25px;
}
.container33 {
  display: flex;
  flex-direction: column;
  gap: 11.99px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 285.43px;
  position: relative;
}
.container34 {
  background: rgba(251, 44, 54, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: #fb2c36;
  border-width: 0px 0px 0px 3.75px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 87.15px;
  position: relative;
}
.container35 {
  display: flex;
  flex-direction: column;
  gap: 3.98px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 227.89px;
  height: 55.16px;
  position: relative;
}
.city-hospital {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.follow-up-on-equipment-demo {
  color: #475569;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.button5 {
  flex-shrink: 0;
  width: 37.79px;
  height: 23.98px;
  position: relative;
}
.view {
  color: #5fb1b7;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.container36 {
  background: rgba(240, 177, 0, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: #f0b100;
  border-width: 0px 0px 0px 3.75px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 87.15px;
  position: relative;
}
.container37 {
  display: flex;
  flex-direction: column;
  gap: 3.98px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 146.33px;
  height: 55.16px;
  position: relative;
}
.med-clinic-plus {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.send-revised-quote {
  color: #475569;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.container38 {
  background: rgba(47, 122, 133, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-color: #2f7a85;
  border-width: 0px 0px 0px 3.75px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 87.15px;
  position: relative;
}
.container39 {
  display: flex;
  flex-direction: column;
  gap: 3.98px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 156.13px;
  height: 55.16px;
  position: relative;
}
.valley-health-center {
  color: #235c63;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
.schedule-installation {
  color: #475569;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.5px;
}
