@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.sidebar,
.sidebar * {
  box-sizing: border-box;
}
.sidebar {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 0px 1.25px 0px 0px;
  width: 256px;
  height: 1024px;
  position: relative;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.container {
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 0px 0px 1.25px 0px;
  padding: 23.98px 23.98px 1.25px 23.98px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 254.75px;
  height: 113.2px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 63.98px;
  position: relative;
}
.image-roz-med-logo {
  flex-shrink: 0;
  width: 63.98px;
  height: 63.98px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 113.38px;
  height: 43.96px;
  position: relative;
}
.text {
  flex: 1;
  width: 113.38px;
  position: relative;
}
.text2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 37.42px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 1.25px;
}
.roz {
  color: #dc143c;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: relative;
}
.text3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 46.5px;
  height: 25px;
  position: absolute;
  left: 37.42px;
  top: 1.25px;
}
.med {
  color: #1e90ff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: relative;
}
.text4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 113.38px;
  height: 15.98px;
  position: relative;
}
.enterprise-inc {
  color: #2b2b2b;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 400;
  position: relative;
}
.container4 {
  border-style: solid;
  border-color: rgba(95, 177, 183, 0.3);
  border-width: 1.25px 0px 0px 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1px;
  top: 944px;
}
.button {
  border-radius: 10px;
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 222.75px;
  height: 47.97px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text5 {
  flex-shrink: 0;
  width: 52.75px;
  height: 23.98px;
  position: relative;
}
.logout {
  color: #235c63;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.navigation {
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 7.99px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 255px;
  height: 344px;
  position: absolute;
  left: 1px;
  top: 113px;
}
.d-bb {
  flex-shrink: 0;
  width: 223.01px;
  height: 47.97px;
  position: static;
}
.rectangle-1 {
  background: #2f7a85;
  border-radius: 10px;
  width: 223.01px;
  height: 47.97px;
  position: absolute;
  left: 239.01px;
  top: 63.97px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.button2 {
  border-radius: 10px;
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  width: 223.01px;
  height: 47.97px;
  position: absolute;
  left: 16px;
  top: 16px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.icon2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text6 {
  flex-shrink: 0;
  width: 82.54px;
  height: 23.98px;
  position: relative;
}
.dashboard {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.button3 {
  border-radius: 10px;
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 11.99px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 47.97px;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text7 {
  flex-shrink: 0;
  width: 67.5px;
  height: 23.98px;
  position: relative;
}
.products {
  color: #235c63;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.icon4 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text8 {
  flex-shrink: 0;
  width: 70.92px;
  height: 23.98px;
  position: relative;
}
.inventory {
  color: #235c63;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.icon5 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text9 {
  flex-shrink: 0;
  width: 82.09px;
  height: 23.98px;
  position: relative;
}
.customers {
  color: #235c63;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.icon6 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text10 {
  flex-shrink: 0;
  width: 59.69px;
  height: 23.98px;
  position: relative;
}
.finance {
  color: #235c63;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
.icon7 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text11 {
  flex-shrink: 0;
  width: 86.07px;
  height: 23.98px;
  position: relative;
}
.documents {
  color: #235c63;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.5px;
}
/* variant styles */
